<div class="scroll-to-top-btn text-center mt-5">
    <a href="#top" onclick="scrollToTop();return false" class="text-center"><img src="imgs/arrow-yellow.png"></a>
</div>
<footer class="footer">
    <div id="map" style="width: 100%;height: 400px"></div>
    <div class="fs-20px text-center bg-yellow footer">2020 Seacom. All right reserved. Theme by OSB Holding</div>
</footer>