<section class="section">
    <%- include('slideshow')%>
    <div class="introduction mt-3 mb-3">
        <img src="imgs/introduction.png">
        <img src="imgs/introduction1.png">
        <img src="imgs/introduction2.png">
        <img src="imgs/introduction3.png">
        <img src="imgs/introduction4.png">
    </div>
    <div class="product">
        <div class="container">
            <div class="mt-120px text-center mb-5 fs-20px text-primary font-weight-bold">
                SẢN PHẨM CỦA SEACOM
            </div>
        </div>
        <img src="imgs/product.png">
    </div>
    <div class="service">
        <div class="container">
            <div class="text-center mt-5 mb-5 fs-20px text-primary font-weight-bold">
                DỊCH VỤ CỦA SEACOM
            </div>
        </div>
        <div class="service-list">
            <div class="item service1">
                <div class="icon"><i class="far fa-comment-alt ml-5"></i></div>
                <a href="#" class="nounderline">
                    <div class="detail-service">
                        <div>ĐIỆN THOẠI VÀ TIN NHẮN</div>
                        <div class="big-underline-round bg-white"></div>
                    </div>
                </a>
            </div>
            <div class="item">
                <img src="imgs/service1.png">
            </div>
            <div class="item service2">
                <div class="icon"><i class="fas fa-wifi ml-5"></i></div>
                <a href="#" class="nounderline">
                    <div class="detail-service">
                        <div>INTERNET VÀ TIỆN ÍCH</div>
                        <div class="big-underline-round bg-white"></div>
                    </div>
                </a>
            </div>
            <div class="item">
                <img src="imgs/service2.png">
            </div>
            <div class="item">
                <img src="imgs/service3.png">
            </div>
            <div class="item service3">
                <div class="icon"><i class="fas fa-map-marker-alt ml-5"></i></div>
                <a href="#" class="nounderline">
                    <div class="detail-service">
                        <div>THÔNG TIN HÀNH TRÌNH</div>
                        <div class="big-underline-round bg-white"></div>
                    </div>
                </a>
            </div>
            <div class="item">
                <img src="imgs/service4.png">
            </div>
            <div class="item service4">
                <div class="icon"><i class="fas fa-phone-volume ml-5"></i></div>
                <a href="" class="nounderline">
                    <div class="detail-service">
                        <div>LIÊN LẠC KHẨN CẤP</div>
                        <div class="big-underline-round bg-white"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="doitac">
        <img src="imgs/doitac.png">
    </div>
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center fs-20px text-primary mt-1 mb-4 font-weight-bold">THÔNG TIN LIÊN HỆ</div>
                <div class="col-12 text-center fs-20px text-bold font-weight-bold">CÔNG TY CỔ PHẦN ĐẦU TƯ VÀ CÔNG NGHỆ OSB (OSB JSC)</div>
                <div class="col-12 text-center fs-12px text-bold">Phòng 305, Tòa nhà Detect - Số 8 Tôn Thất Thuyết, Mỹ Đình, Hà Nội, Việt Nam</div>
                <div class="medium-container text-center">
                    <div class="row fs-12px font-weight-bold">
                        <div class="col-4"><i class="fas fa-phone-alt"></i> 84-24-36404069; 0678901111</div>
                        <div class="col-4"><i class="fas fa-globe"></i> www.osbholding.com</div>
                        <div class="col-4"><i class="fas fa-envelope"></i> contact@osbholding.com</div>
                    </div>
                </div>
                <div class="medium-container fs-12px" >
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-9">
                                    <div class="row mb-2 font-weight-bold">Chi nhánh thành phố Hồ Chí Minh</div>
                                    <div class="row">Phòng 1001, Lầu 10, tòa nhà Vina Giầy, 180-182 Lý Chính Thắng, P.9, Q.3, TP.HCM</div>
                                    <div class="row">84-28-35261237, 0678902222</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row mb-2 font-weight-bold">Chi nhánh thành phố Vũng Tàu</div>
                                    <div class="row">152 Phan Chu Trinh, P.2, TP. Vũng Tàu</div>
                                    <div class="row">0254-3577332, 0678906666</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row mb-2 font-weight-bold">Chi nhánh thành phố Đà Nẵng</div>
                                    <div class="row">Phòng 812, Lầu 8, KS. One Opera, 115 Nguyễn Văn Linh, Nam Dương, Q. Hải Châu, TP Đà Nẵng</div>
                                    <div class="row">0254-3577332, 0678903333</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-form">
        <div class="row">
            <div class="medium-container">
                <div class="row">
                    <div class="text-primary font-weight-bold">
                        HOẶC CHO PHÉP CHÚNG TÔI TÌM HIỂU THÊM MỘT CHÚT THÔNG TIN VỀ BẠN
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-container mt-1 mb-5 relative">
                <form autocomplete="off" action="/luu-thong-tin" method="post">
                    <div class="font-weight-bold fs-20px mt-2 mb-2">Tên công ty *</div>
                    <input type="text" name="organizationname" required class="input">
                    <div class="font-weight-bold fs-20px mt-2 mb-2">Tên người liên hệ *</div>
                    <input type="text" name="tennguoi" required class="input">
                    <div class="font-weight-bold fs-20px mt-2 mb-2">Địa chỉ email *</div>
                    <input type="email" name="email" required class="input">
                    <div class="font-weight-bold fs-20px mt-2 mb-2">Số điện thoại *</div>
                    <input type="text" name="phonenumber" required class="input" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    <div class="font-weight-bold fs-20px mt-2 mb-2">Tin nhắn </div>
                    <textarea style="resize: none" class="input" rows="4" name="tinnhan"></textarea>
                    <div>
                        <button class="btn btn-primary absolute btn-send " type="submit">
                            <div class="fs-20px">Gửi đi</div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="scroll-to-top-btn text-center">
        <a href="#top" onclick="scrollToTop();return false" class="text-center"><i class="fas fa-angle-up text-white bg-warning pl-3 pr-3 fs-40px pt-2 pb-2"></i></a>
    </div>
</section>