<footer class="section footer">
    <div id="map" style="width: 100%;height: 400px"></div>
    <div style="color:#ffffff;font-weight:600;padding: 10px 0" class="fs-20px text-center bg-warning">2020 Seacom. All right reserved. Theme by OSB Holding</div>
</footer>